# TensorFlow GPU
tensorflow
tensorflow-intel

# PyTorch GPU
torch
torchvision
torchaudio
--extra-index-url https://download.pytorch.org/whl/cu118

# YOLOv8
ultralytics

# Standard packages
numpy
pandas
scikit-learn
opencv-python-headless
Pillow
albumentations
matplotlib
seaborn

# Streamlit
streamlit
pyyaml
tqdm
